/** @format */

.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: auto;
  height: 400px;
  width: 400px;
}
.container a {
  border: 1px solid darkgray;
  font-size: 100px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(101, 146, 50, 0.822);
  border-radius: 30px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

td {
  border: 1px solid black;
}
